.card {
  position: relative;
  width: 270px;
  padding: 16px 13px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    transform: scale(1.02);
    box-shadow: 0px 0px 4px 4px #e5e5e5;
  }
}

.paid {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  & > img {
    margin-right: 8px;
  }
}

.payStatus {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #32b483;
}

.paidSpan {
  color: #32b483;
}

.mustPaySpan {
  color: #d74245;
}

.soonPaySpan {
  color: #ff9900;
}

.id {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 16px;
  background-color: #e5e5e5;
  border-radius: 0px 16px 0px 16px;
  font-style: normal;
  font-weight: 350;
  font-size: 12px;
  line-height: 16px;
  color: #000;
}

.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  margin-bottom: 8px;
}

.number {
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 19px;
  color: #252525;
  margin-bottom: 8px;
}

.position {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #32b483;
}

.ux {
  color: #c656a0;
}
.front {
  color: #32b483;
}
.pm {
  color: #70bf44;
}
.back {
  color: #756fb3;
}
.android {
  color: #c656a0;
}
.ios {
  color: #a6ce39;
}
.flutter {
  color: #00a64e;
}
.olymp {
  color: #7c51a1;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > img {
    width: 20px;
    height: 20px;
  }
}
