// Variables
$black-color: #000;
$white-color: #fff;
$green-color: #32b483;
$gray-color: #aaaaaa;
$count-gray-color: #e5e5e5;
$pink-color: #c656a0;
$violet-color: #756fb3;
$error-color: #e53e3e;
$notification-color: #ed474a;
$auth-black-color: #252525;
$body-gray-color: #f1f1f1;

// Transition
$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;
