@import '../../../../sass//base';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: $auth-black-color;
  margin-bottom: 28px;
}

.descr {
  margin-bottom: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: $gray-color;
}

.input {
  margin-bottom: 55px;
}

.button {
  margin-bottom: 26px;
  width: 100%;
}