@import '../../../../sass/base';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white-color;
  border-radius: 12px;
  padding: 17px 15px;
  transition: .5s;
  &:hover {
    transform: scale(1.05);
    transition: .5s;
  }
}