@import '../../../../sass/base';

.ava {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 27.5px;
}

.action {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  .editAva {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: $violet-color;
  }
}

// Popup
.upload {
  input[type='file'] {
    width: 150px;
    max-width: 100%;
    color: $gray-color;
    padding: 5px;
    background: $white-color;
    border-radius: 10px;
    border: 1px solid $violet-color;
  }

  input[type='file']::file-selector-button {
    margin-right: 20px;
    border: none;
    background: $violet-color;
    padding: 10px 20px;
    border-radius: 5px;
    color: $white-color;
    cursor: pointer;
    transition: 0.3s;
  }

  input[type='file']::file-selector-button:hover {
    transform: scale(0.9);
    transition: 0.3s;
  }

  .btns {
    background: $violet-color;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    margin: 10px 0 0 10px;
    color: $white-color;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    &:hover {
      transform: scale(0.9);
      transition: 0.3s;
    }
  }

  .hr {
    margin: 12px 0px;
  }
}


// Optional style for Modal component
.content {
  height: auto;
}
