@import '../../sass/base';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  & > label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: $auth-black-color;
  }
}

.textarea {
  width: 100%;
  height: 105px;
  padding: 10px 16px;
  margin-top: 5px;
  border: 1px solid $gray-color;
  border-radius: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  &:focus {
    outline: 1px solid $violet-color;
  }
}

::placeholder {
  color: $gray-color;
}

.error {
  color: $error-color;
  position: absolute;
  top: 130px;
  left: 0;
}
