@import "../../sass/base";

.button {
  height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 16px;
  background-color: $violet-color;
  padding-right: 16px;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 58px;
    font-size: 20px;
  }
  .text {
    color: $white-color;
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 18px;
  }
}
