@import '../../sass/base';

.profile {
  display: flex;
  flex-direction: column;
  background-color: $count-gray-color;
  padding: 24px;
  height: 100vh;
}

.header {
  margin-bottom: 64px;
}

.backButton {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  padding: 17px 32px;
}

.content {
  padding: 40px 55px;
  background-color: $white-color;
  max-width: 1144px;
  min-height: 578px;
  border-radius: 16px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: $black-color;
  margin-bottom: 64px;
}

.wrapper {
  display: flex;
  align-items: start;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 95px;
}

.leftSubtitle {
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 24px;
  color: $gray-color;
  margin-bottom: 24px;
}

.rightSubtitle {
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 24px;
  color: $gray-color;
}
