@import "../../../sass/base";

.form {
  padding: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.title {
  font-family: Segoe UI;
  font-weight: 600;
  font-size: 24px;
  color: $black-color;
}

.left {
  cursor: pointer;
}

.department {
  margin-bottom: 24px;
}

.fullName {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
}

.columnOne {
  & > .firstName {
    margin-bottom: 24px;
  }
}

.phoneAndLaptop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
}

.laptop {
  max-width: 129px;
}

.paymentMethodAndSource {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
}

.notes {
  margin-bottom: 32px;
}
