@import "../../../sass/base";

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.title {
  font-family: Segoe UI;
  font-weight: 600;
  font-size: 24px;
  color: $black-color;
}

.left {
  cursor: pointer;
}

.department {
  margin-bottom: 24px;
}

.fullName {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.phoneAndLaptop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.laptop {
  max-width: 129px;
}

.paymentMethodAndSource {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
}

.notes {
  margin-bottom: 32px;
}

.dropdownItem {
  padding: 10px 16px;
  cursor: pointer;
  transition: $tran-02;
  &:hover {
    background-color: #f4f4f4;
  }
}

.dropdownUxUi {
  color: $ux-ui-color;
  padding: 10px 16px;
  cursor: pointer;
  transition: $tran-02;
  &:hover {
    background-color: #f4f4f4;
  }
}

.dropdownFront {
  color: $front-color;
}

.dropdownBack {
  color: $back-color;
}

.dropdownPM {
  color: $pm-color;
}

.dropdownAndroid {
  color: $android-color;
}

.dropdownIOS {
  color: $ios-color;
}

.dropdownFlutter {
  color: $flutter-color;
}

.dropdownOlimp {
  color: $olimp-color;
}
