@import '../../../../sass//base';

.form {
  margin: 0 auto;
  padding: 26px 32px;
  background-color: #fff;
  border-radius: 20px;
  & > .header {
    margin-bottom: 34px;
    & > h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: $black-color;
    }
  }

  & > .depart {
    margin-bottom: 24px;
  }

  & > .rowWrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    & > div {
      width: 300px;
    }
    & > .laptop {
      width: 150px;
    }
  }

  & > .notes {
    margin-bottom: 24px;
  }

  & > .btns {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
  }
}
