@import "../../../../sass/base.scss";

.main {
  background-color: $body-gray-color;
  // width: 100vw;
  // height: auto;
}

.container {
  padding: 10px 24px 70px;
  display: flex;
  // justify-content: space-between;
  gap: 24px;
}

.waitingForACall,
.callCompleted,
.SignedUpForAtrialLesson,
.AttendedATrialLesson {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
