@import "../../../../sass/base";

.box {
  position: relative;
  margin-bottom: 24px;

  .inputLabel {
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 14px;
    color: $gray-color;
    span {
      color: $violet-color;
      font-weight: 600;
    }
  }

  .input {
    margin-top: 4px;
    border: 1px solid $gray-color;
    width: 100%;
    height: 44px;
    border-radius: 12px;
    outline: none;
    transition: $tran-03;
    color: $auth-black-color;
    font-size: 16px;
    font-weight: 400;
    font-family: Segoe UI;
    line-height: 23.94px;
    padding: 11px 16px;
    &::placeholder {
      color: $auth-black-color;
    }
  }
}
