@import "../../../../sass/base";

.container {
  padding: 24px;
}

.header {
  .headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .group {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}

.img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
