@import "../../../../sass/base";

.card {
  background-color: $white-color;
  border-radius: 16px;
  transition: $tran-04;
  &:hover {
    background-color: $count-gray-color;
  }
}

.cardRed {
  border: 2px solid $notification-color;
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clock {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 16px;
}

.id {
  background-color: $count-gray-color;
  padding: 10px 16px;
  border-radius: 0px 16px 0px 16px;
  span {
    font-family: Segoe UI;
    font-size: 12px;
    color: $auth-black-color;
  }
}

.cardContent {
  padding: 4px 16px 16px;
}

.contentMiddle .name {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 600;
  color: $auth-black-color;
  padding-bottom: 8px;
}

.number {
  font-family: Segoe UI;
  font-size: 14px;
  color: $auth-black-color;
  font-weight: 350;
  margin-bottom: 16px;
}

.directionUxUi {
  display: inline-block;
  margin-bottom: 16px;
  span {
    color: $ux-ui-color;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 600;
  }
}

.directionFront {
  span {
    color: $front-color;
  }
}

.directionBack {
  span {
    color: $back-color;
  }
}

.directionPM {
  span {
    color: $pm-color;
  }
}

.directionAndroid {
  span {
    color: $android-color;
  }
}

.directionIOS {
  span {
    color: $ios-color;
  }
}

.directionFlutter {
  span {
    color: $flutter-color;
  }
}

.directionOlimp {
  span {
    color: $olimp-color;
  }
}

.way {
  border-radius: 12px;
  display: flex;
  align-items: center;
  .icon {
    margin-right: 10px;
  }
  span {
    font-family: Segoe UI;
    font-size: 12px;
    font-weight: 400;
    color: $auth-black-color;
  }
}

.contentBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
